SRC_URL=https://your-instance.dev.odoo.com
SRC_DB=your-source-db-name
SRC_USER=user@example.com
SRC_PASSWORD=changeme

TGT_URL=http://localhost:8069
TGT_DB=medicinedepot_dev
TGT_USER=user@example.com
TGT_PASSWORD=changeme
